.sign-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-form {
  width: 40%;
  min-width: 300px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.sign-form h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sign-form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sign-form input {
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.sign-form button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #3645c6;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.sign-form button:hover {
  background-color: #2a36a1;
}

.sign-form h2 {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* media query for mobile responsiveness */
@media (max-width: 768px) {
  .sign-form {
    width: 80%;
    padding: 1.5rem;
  }

  .sign-form h1 {
    font-size: 1.5rem;
  }

  .sign-form input {
    margin-bottom: 1rem;
  }

  .sign-form button {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .sign-form {
    width: 90%;
    padding: 1rem;
  }

  .sign-form h1 {
    font-size: 1.25rem;
  }

  .sign-form h2 {
    font-size: 0.75rem;
  }

  .sign-form input {
    margin-bottom: 0.75rem;
  }

  .sign-form button {
    padding: 0.4rem;
  }
}
