/* UserList.css */

.container {
    padding: 20px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}

.uploadSection {
    margin-bottom: 1.5rem;
}

.exportButton {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

button {
    padding: 0.4rem;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

.noUsers {
    text-align: center;
    color: #888;
}

.logoutButton {
    padding: 0.5rem;
    background-color: #dc3545; /* Red color for logout */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .logoutButton {
        margin-top: 10px; /* Add space between header and logout button */
        margin-right: 0; /* Remove right margin */
        padding: 0.4rem;
    }

    .uploadSection {
        margin-bottom: 15px;
    }

    .exportButton {
        padding: 0.4rem;
        margin-bottom: 15px;
    }

    .table {
        display: block;
        overflow-x: auto; /* Enable horizontal scrolling for the table */
    }

    th,
    td {
        padding: 8px; /* Reduce padding for smaller screens */
    }

    button {
        padding: 4px 8px; /* Smaller buttons for mobile */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    .uploadSection {
        margin-bottom: 10px;
    }

    .exportButton {
        padding: 4px; /* Smaller padding for very small screens */
    }

    th,
    td {
        padding: 6px; /* Further reduce padding for very small screens */
    }

    button {
        padding: 3px 6px; /* Even smaller buttons for very small screens */
    }

    .table {
        font-size: 14px; /* Reduce font size for better fit */
    }

    .header h2 {
        font-size: 1.2rem; /* Reduce header font size */
    }

    .logoutButton {
        padding: 4px; /* Smaller padding for logout button */
    }
}